# requirements.txt

pandas==2.2.3
fastapi==0.115.12
uvicorn[standard]==0.34.2 # Includes standard extras like websockets, httptools
lightgbm==4.6.0
scikit-learn==1.6.1
joblib==1.4.2
numpy==2.2.4
optuna==4.2.1
pydantic==2.11.3
# Add any other direct dependencies if discovered later